<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <title>Document</title>
</head>

<body>
    <section id="alpha">
        <div class="div-1">
            <div class="div-1-1">
                <h1>ORCLAN|<SUP>CLASSIC EDITION</SUP></h1>
            </div>
            <div class="div-1-2">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="alpha-1">
        <div class="div-2">
            <div class="div-2-1">
                <h1>LET'S ENJOY</h1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Quidem eligendi tempore vero doloribus
                    libero. Velit
                    non, inventore adipisci mollitia optio <br> accusantium ratione laudantium. Exercitationem
                    voluptatibus
                    veniam
                    id, dolorum totam qui. </P>
            </div>
        </div>
    </section>

    <section id="silder">
        <div class="div-3">
            <div class="div-3-1">
                <div class="div-3-1-1">
                    <div class="div-3-1-3">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                    <div class="div-3-1-2">
                        <h2>Lorem, ipsum</h2>
                    </div>
                </div>
            </div>
            <div class="div-3-2">
                <img src="../assets/extrapics/cen.png" alt="">
                <div class="div-3-2-1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi assumenda architecto
                    </p>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                </div>
            </div>
            <div class="div-3-3">
                <img src="../assets/extrapics/spoun.png" alt="">
                <div class="div-3-2-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi assumenda architecto
                    </p>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                </div>
                <div class="qq">
                    <img src="../assets/extrapics/dishes.png" alt="">
                </div>
                <div class="div-3-2-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi assumenda architecto
                    </p>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                </div>
            </div>
        </div>
    </section>
    <section id="html">
        <div class="div-4">
            <div class="div-4-1">
                <h1>Featured</h1>
            </div>
            <div class="div-4-2">
                <img src="../assets/extrapics/room.png" alt="">
            </div>
        </div>
        <div class="div-5">
            <div class="div-5-1">
                <h1>Mixer And Glinder</h1>
                <div class="div-6-1">
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/sas.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/sas.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-6-1">
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-6-1">
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                    <div class="div-6-2">
                        <div>
                            <img src="../assets/extrapics/51c6diwmDKL 1-2.png" alt="">
                        </div>
                        <div class="div-6-3">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i>
                            <div class="div-6-4">
                                <small>$786.00</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="html-2">
        <div class="div-7">
            <div class="div-7-1">
                <h2>new product</h2>
                <div class="div-7-2">
                    <div>
                        <img src="../assets/extrapics/71HY+O5xSjL 1.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit(5 liter)</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i><br>
                            <small>$432.34</small>
                    </div>
                </div>
                <div class="div-7-2">
                    <div>
                        <img src="../assets/extrapics/71HY+O5xSjL 1.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit(5 liter)</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i><br>
                            <small>$432.34</small>
                    </div>
                </div>
                <div class="div-7-2">
                    <div>
                        <img src="../assets/extrapics/71HY+O5xSjL 1.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit(5 liter)</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i><br>
                            <small>$432.34</small>
                    </div>
                </div>
                <div class="div-7-2">
                    <div>
                        <img src="../assets/extrapics/71HY+O5xSjL 1.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit(5 liter)</p>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star icon-2"></i>
                            <i class="fa fa-star-half-alt icon-2"></i><br>
                            <small>$432.34</small>
                    </div>
                </div>
                <div class="div-7-3">
                    <button>see more</button>
                </div>
            </div>
        </div>
        <div class="div-8">
            <h1>Fry <span>And Toa</span>ster</h1>
                <p> oil free cook</p>
                <div class="div-8-1">
                    <div class="div-8-2">
                        <button>Hot Box</button>
                    </div>
                    <div class="div-8-3">
                        <button>Hot Box</button>
                    </div>
                    <div class="div-8-4">
                        <button>Hot Box</button>
                    </div>
                </div>
            

        </div>

    </section>
</body>
</htm>